<section class="footer">
  <div class="contact">
    <section>
      <p class="website-title">Movies DB</p>
      <div class="elements d-flex flex-column">
        <span>About</span>
        <span>FAQ</span>
        <span>Support</span>
      </div>
    </section>
    <section>
      <p class="website-title">Regulations</p>
      <div class="elements d-flex flex-column">
        <span>Terms</span>
        <span>Privacy policy</span>
      </div>
    </section>
    <section>
      <p class="website-title">Contact</p>
      <div class="elements d-flex align-items-center">
        <address>
          <a href="mailto:kin.baryczka@gmail.com">kin.baryczka@gmail.com</a>
        </address>
      </div>
    </section>

    <section>
      <p class="website-title">Useful links</p>
      <div class="elements d-flex flex-column">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/kinga-baryczka-6621a520b/"
          >LinkedIn</a
        >
        <a target="_blank" href="https://github.com/dazaiii">GitHub</a>
      </div>
    </section>
  </div>

  <section class="copyright">
    <div class="text">
      <span> © Copyright </span>
      <script>
        {
          {
            document.write(new Date().getFullYear());
          }
        }
      </script>
      <span> 2023. Made by Kinga Baryczka</span>
    </div>
  </section>
</section>
