<section class="footer">
  <div class="contact">
    <section>
      <p class="website-title">Movies DB</p>
      <div class="elements d-flex flex-column">
        <span>{{ "footer.about" | translate }}</span>
        <span>FAQ</span>
        <span>{{ "footer.support" | translate }}</span>
      </div>
    </section>
    <section>
      <p class="website-title">{{ "footer.regulations" | translate }}</p>
      <div class="elements d-flex flex-column">
        <span>{{ "footer.terms" | translate }}</span>
        <span>{{ "footer.privacy-policy" | translate }}</span>
      </div>
    </section>
    <section>
      <p class="website-title">{{ "footer.contact" | translate }}</p>
      <div class="elements d-flex align-items-center">
        <address>
          <a href="mailto:kin.baryczka@gmail.com">kin.baryczka@gmail.com</a>
        </address>
      </div>
    </section>

    <section>
      <p class="website-title">{{ "footer.useful-links" | translate }}</p>
      <div class="elements d-flex flex-column">
        <a
          target="_blank"
          href="https://www.linkedin.com/in/kinga-baryczka-6621a520b/"
          >LinkedIn</a
        >
        <a target="_blank" href="https://github.com/dazaiii">GitHub</a>
      </div>
    </section>
  </div>

  <section class="copyright">
    <div class="text">
      <span>
        © Copyright {{ actualYear }} {{ "footer.made-by" | translate }} Kinga
        Baryczka
      </span>
    </div>
  </section>
</section>
