<section class="footer">
  <div class="contact">
    <section>
      <h3 class="website-title">Movies DB</h3>
    </section>
    <section>
      <p class="website-title">Contact</p>
      <div class="elements d-flex align-items-center">
        <p>kin.baryczka@gmail.com</p>
      </div>
    </section>

    <section>
      <p class="website-title">Useful links</p>
      <div class="elements d-flex flex-column align-items-center">
        <a href="https://www.linkedin.com/in/kinga-baryczka-6621a520b/"
          >Author's LinkedIn profile</a
        >
        <a href="https://github.com/dazaiii">Author's GitHub Account</a>
      </div>
    </section>
  </div>

  <section class="copyright">
    <div class="text">
      <span> © Copyright </span>
      <script>
        {
          {
            document.write(new Date().getFullYear());
          }
        }
      </script>
      <span>2023. Made by Kinga Baryczka</span>
    </div>
  </section>
</section>
