.background {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 15%,
    rgba(9, 9, 121, 0.241421568627451) 95%
  );
}

.top-left {
  padding: 128px 64px;
  width: 60%;
  text-align: left;

  @media only screen and (max-width: 900px) {
    width: 90%;
  }

  h1 {
    padding-bottom: 64px;
  }

  h3 {
    font-size: 18px;
    padding: 16px 0 32px 0;
  }
}
