:host ::ng-deep .p-dropdown {
  background-color: #020024;
}

:host ::ng-deep .p-dropdown-items {
  background-color: #020024;
  color: white;
}

:host
  ::ng-deep
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  background-color: #1d4ed8;
  color: white;
}

:host
  ::ng-deep
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight {
  background-color: #1d4ed8;
  color: white;
}

:host ::ng-deep .p-dropdown-label {
  color: white;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: white;
}
