.review {
  margin-bottom: 32px;
}

.info {
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.card-element {
  width: 80%;
  text-align: justify;
  word-break: break-word;
}

:host ::ng-deep .p-card {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.img-container {
  width: 32px;
  height: 32px;
  margin-right: 16px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
