<div
  [ngStyle]="{ 'background-image': 'url(' + backgroundSource + ')' }"
  class="background"
  *ngIf="movie"
>
  <div class="gradient">
    <section class="details d-flex">
      <div class="img-container">
        <app-image
          [src]="imageSource"
          [alt]="movie.overview"
          [emptyImageType]="'movie'"
        ></app-image>
      </div>
      <section class="movie-info">
        <h1>{{ movie.title }}</h1>
        <h2 *ngIf="movie.title !== movie.original_title">
          {{ movie.original_title }}
        </h2>
        <h3>{{ movie.tagline }}</h3>
        <div class="d-flex mb-3">
          <ng-container *ngFor="let genre of movie?.genres; let last = last">
            <p-chip class="pr-2" [label]="genre.name"></p-chip>
          </ng-container>
        </div>
        <p-rating
          [ngModel]="roundRating(movie.vote_average)"
          [readonly]="true"
          [stars]="10"
          [cancel]="false"
        ></p-rating>
        <p>
          {{ "movie.movie.rating" | translate }}:
          {{ roundAverage(movie.vote_average) }}/10
          {{ "movie.movie.of" | translate }} {{ movie.vote_count }}
          {{ "movie.movie.votes" | translate }}
        </p>

        <p>{{ movie.overview }}</p>

        <div class="d-flex col-12 mb-2">
          <p class="col-4">{{ "movie.movie.release_date" | translate }}:</p>
          <span clas="col-8">{{
            movie.release_date | date : "dd-MM-yyyy"
          }}</span>
        </div>

        <div class="d-flex col-12 mb-2">
          <p class="col-4">{{ "movie.movie.time" | translate }}:</p>
          <span class="col-8"
            >{{ runtime.hours }}{{ "movie.movie.hours" | translate }}
            {{ runtime.minutes }}m</span
          >
        </div>

        <div class="d-flex col-12 mb-2">
          <p class="col-4">{{ "movie.movie.production" | translate }}:</p>
          <div class="d-flex flex-column">
            <ng-container
              *ngFor="
                let production of movie?.production_companies;
                let last = last
              "
            >
              <span *ngIf="!last">{{ production.name }},</span>
              <span *ngIf="last">{{ production.name }}</span>
            </ng-container>
          </div>
        </div>

        <div class="d-flex col-12 mb-2">
          <p class="col-4">
            {{ "movie.movie.production_countries" | translate }}:
          </p>
          <div class="d-flex flex-column">
            <ng-container
              *ngFor="
                let production of movie?.production_countries;
                let last = last
              "
            >
              <span *ngIf="!last">{{ production.name }},</span>
              <span *ngIf="last">{{ production.name }}</span>
            </ng-container>
          </div>
        </div>

        <div class="d-flex col-12 mb-2">
          <p class="col-4">{{ "movie.movie.budget" | translate }}:</p>
          <span clas="col-8">{{
            movie.budget === 0 ? "-" : movie.budget + " $"
          }}</span>
        </div>
      </section>
    </section>
  </div>
</div>
